
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	<style type="text/css">
    	body{
    		width: 100%;
    	}
    	.h1{
    		
    		margin-top:50px ;
    		padding: 50px 30px;
    	}
    	.regist{
    		margin: 60px 90px;
    		width: 50%;
    	}
    	#defeat,#success,#pw{
    		margin-left: 80px;
    		display: none;
    	}
    	.back{
    		text-decoration: none;
    		color: brown;
    		margin-left: 15px;
    		font-size: 20px;
    	}
    	.back:hover{
    		color: black;
    		text-decoration: none;
    		
    	}
    	.light{
    		color: white;
    		width: 100px;
    		display: inline;
    		float: right;
    		line-height: 20px;
    		margin-top: 16px;
    	}
    	.success{
    		display: none;
    	}
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">my 朋友圈</a>
          <!--导航条-->
           <ul class="nav navbar-nav">
	        <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
	        
	        <li><a href="#">我的说说</a></li>
	      	<li><a href="#">我的好友</a></li>
	      </ul>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <p class="light">个人管理</p>
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
	<!--注册表单-->
	 <div class="regist">
	 	<h1 class="h1">你好，请修改！</h1>
    	
    	<form>
		  <div class="form-group">
		    <label for="username">昵称</label>
		    <input type="text" class="form-control" id="username" placeholder="新昵称">
		  </div>
		  
		  <div class="form-group">  
		    <label for="location">性别</label>
		      <input type="radio" name="sex" value="male"> 男士
		      <input type="radio" name="sex" value="female"> 女士
		  </div>  
		  
		  <div class="form-group">
		    <label for="location">地区</label>
		    <input type="text" class="form-control" id="location" placeholder="所在地">
		  </div>
		  <div class="form-group">
		    <label for="mysay" >个性签名</label>
		    <textarea class="form-control" rows="3" id="mysay" placeholder="所思所想，秀出自我"></textarea>
		  </div>
		  
		  <button type="button" class="btn btn-default" id="change">修改</button>
		</form>
		<div class="alert alert-success" role="alert" id="success">修改成功<a href="/" class="back">返回首页</a></div>
   </div>  

    <div class="container">
      <!-- Example row of columns -->
     
      </div>

      <hr>

      <!--<footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>-->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  	
  	<script type="text/javascript">
  		//ajax提交表单
		$('#change').click(function(){
			$.get('/dochange',{'username':$('#username').val(),'location':$('#location').val(),'sex':$("input[type='radio']:checked").val(),
			'mysay':$('#mysay').val()},function(result){
				if(result == 6){
					$('#success').fadeIn();
//					window.location = '/';
					
				}
			})
		})
  		
  		
  		
  		
  	</script>
  
  
  
  </body>
</html>








