
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>注册</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	<style type="text/css">
    	body{
    		width: 100%;
    	}
    	.h1{
    		
    		margin-top:50px ;
    		padding: 50px 30px;
    	}
    	.regist{
    		margin: 60px 90px;
    		width: 50%;
    	}
    	#defeat,#success,#repeate{
    		margin-left: 80px;
    		display: none;
    	}
    	.back{
    		text-decoration: none;
    		color: brown;
    		margin-left: 15px;
    		font-size: 20px;
    	}
    	.back:hover{
    		color: black;
    		text-decoration: none;
    		
    	}
    	.light{
    		color: white;
    		width: 100px;
    		display: inline;
    		float: right;
    		line-height: 20px;
    		margin-top: 16px;
    	}
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">my 朋友圈</a>
          <!--导航条-->
           <ul class="nav navbar-nav">
	        <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
	        
	        <li><a href="#">我的说说</a></li>
	        <li><a href="#">我的好友</a></li>
	      </ul>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <p class="light">注册</p>
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
	<!--注册表单-->
	 <div class="regist">
	 	<h1 class="h1">你好，请注册！</h1>
    	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="username" class="col-sm-2 control-label">昵称</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="username" name="username" placeholder="请设置用户名">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="password" class="col-sm-2 control-label">密码</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="password" name="password" placeholder="请设置密码">
	    </div>
	    
	  </div>
	  <div class="form-group">
	    <label for="repassword" class="col-sm-2 control-label">密码</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="repassword" name="repassword" placeholder="请再次输入密码">
	    </div>
	    
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <div class="checkbox">
	        <label>
	          <input type="checkbox" id="checkbox"> 我已阅读<a href="#">注册规定</a>
	        </label>
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="button" id="regist" class="btn btn-default">注册</button>
	    </div>
	  </div>
	  	<div class="alert alert-success" role="alert" id="success">注册成功<a href="/" class="back">返回首页</a></div>
		<div class="alert alert-warning" role="alert" id="defeat">该用户名已被注册</div>
		<div class="alert alert-info" role="alert" id="repeate">密码重复错误</div>	
		<!--<div class="alert alert-danger" role="alert">...</div>-->
	</form>
   </div>  

    <div class="container">
      <!-- Example row of columns -->
     
      </div>

      <hr>

      <!--<footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>-->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  	
  	<script type="text/javascript">
  		//ajax提交表单
  		
  		$('#regist').click(function(){
  			$('#username').focus(function(){
  				$('#success').fadeOut();
  				$('#defeat').fadeOut();
  				$('#repeate').fadeOut();
  				$('#username').val('');
  				$('#password').val('');
  				$('#repassword').val('');
  			})
  			$('#password').focus(function(){
  				$('#repeate').fadeOut();
  				$('#password').val('');
  				$('#repassword').val('');
  			})
  			$('#repassword').focus(function(){
  				$('#repeate').fadeOut();
  				$('#password').val('');
  				$('#repassword').val('');
  			})
  			
  			if($('#password').val() != $('#repassword').val()){
  				$('#repeate').fadeIn();
  				return;
  			}
  			
  			
  			
  			$.post('/doregist',{
  				'username': $('#username').val(),
  				'password': $('#password').val()
  			},function(result){
  				
  				if(result == 2){
  					//注册成功
  					$('#success').fadeIn();
  					$('#username').val('');
  					$('#password').val('');
  					$('#repassword').val('');
  					window.location.href="/";
  					
  				} else if(result == -1){
  					//该用户已被占用
  					$('#defeat').fadeIn();
  					$('#username').val('');
  					$('#password').val('');
  					$('#repassword').val('');
  				}
  			})
  		});
  		
  		
  		
  	</script>
  
  
  
  </body>
</html>








