<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style type="text/css">
			tr,td{
				border: 1px solid black;
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="box">
			<form action="/doadd" method="get">
				<input type="text" name="sid" id="sid" value="" /><br />
				<input type="text" name="name" id="name" value="" /><br />
				<input type="text" name="age" id="age" value="" /><br />
				
				<input type="submit" value="submit"/>
			</form>
			
		</div>
	</body>
</html>