<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>chartroom</title>
		<style type="text/css">
		.box{
			width: 30%;
			margin: 100px auto;
			height: 200px;
			background: #ccc;
		}
		#username{
			margin: 20px 10px;
		}	
		p{
			display: inline;
			margin-left: 30px;
		}
		#submit{
			margin-left: 30px;
			margin-top: 20px;
		}
		</style>
	</head>
	<body>
		
		<div class="box">
			
			<form action="/check" >
				<p>昵称：</p><input type="text" name="username" id="username" value="" /><br />
				
				<p>密码：</p> <input type="password" id="password" name="password"/><br />
				<input type="submit" name="submit" id="submit" value="登录" />
			</form>
		</div>
		
		
	</body>
	
	</script>	
	
</html>